.ul {
  list-style-type: none;
  margin: 120px 0px 0px 0px;
  padding: 20px;
  overflow: hidden;
  background-color: #697fae;
  height: 30px;
  width: 100%;
  position: fixed;
}

.li {
  display: inline;
}

.li a {
  color: #f3f8ff;
  font-size: 1.5em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover {
  color: #111;
  transition: 0.3s;
}
