
/* #48639C, 88A0A8, BAA7B0, 8A8D91, BCD0C7 */
.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px, 100px, auto;
  background-color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;	 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.dropDown{
  border-radius: 25px;
  padding: 1em;
  background-color:  #DDE2ED;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.articles-list ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1200px){
  .articles-list ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  }
}

@media only screen and (max-width: 600px){
  .articles-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* .article-list form{
  grid-column: 1/span 3;
} */
.article-card li{
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #DDE2ED;
  padding: 0 10px;
  margin: 2.5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto ;
  align-items: center;
}

.article-card h2{
  color: black;
  grid-row: 1/2;
  grid-column: 2/3;
}

a:link{
  color: #48639C;
  text-decoration: none;
}

a:visited{
  color: #48639C;
  text-decoration: none;
}

a:hover{
  color: #697FAE;
}

/* .p{
  width: 75%;
  text-align: center;
} */

.article-comments{
  background-color:white;
}


.comment-list{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.comment-card{
  display: grid;
  border-radius: 25px;
  grid-template-rows: 1fr 0.5fr; 
  grid-template-columns: 1fr 2fr;
  box-sizing: border-box;
  margin: 2.5%;
  background-color: #DDE2ED;
  align-items: center;
}
.comment-user{
  grid-column: 1/2;
}
.comment-body{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: start;
}
.comment-votes{
  grid-column: 2/3;
  grid-row: 2/3;
}

.comment-published-at{
  grid-column: 1/2;
  grid-row: 2/3;
}

button{
  border-radius: 25px;
  padding: 1.1em; 
  background-color: white;
}
.comment-remover{
  grid-column: 2/3;
  grid-row: 3/4;
  width: 30%;
  justify-self: center;
  background-color: #B4656F;
}

.comment-message{
  font-style: italic;
}

.like:hover {
  background-color: darkseagreen;
}


.dislike:hover {
  background-color: indianred;
}

.cancel:hover{
  background-color: grey;
}

/* #down-img{
  height: 30px;
  padding: 0
} */

.avatar{
  height: 50px;
  border-radius: 50%;
}