
/* #48639C, 88A0A8, BAA7B0, 8A8D91, BCD0C7 */
.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px, 100px, auto;
  background-color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;	 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.dropDown{
  border-radius: 25px;
  padding: 1em;
  background-color: #FFFBFE;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.articles-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 900px){
  .articles-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* .article-list form{
  grid-column: 1/span 3;
} */
.article-card{
  box-sizing: border-box;
  border-radius: 25px;
  border-style: double;
  background: white;
  margin: 2.5%;
  padding: 2.5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto
}

.article-card h2{
  grid-row: 1/2;
  grid-column: 2/3;
}

.article-comments{
  background-color: cadetblue;
}

.comment-list{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.comment-card{
  display: grid;
  border-radius: 25px;
  border-style: double;
  grid-template-rows: 1fr 0.5fr; 
  grid-template-columns: 1fr 2fr;
  box-sizing: border-box;
  background-color: white;
  margin: 2.5%;
  padding: 2.5%;
}
.comment-user{
  grid-column: 1/2;
}
.comment-body{
  grid-column: 2/3;
  grid-row: 1/2;
}
.comment-votes{
  grid-column: 1/2;
  grid-row: 2/3;
}

.comment-published-at{
  grid-column: 2/3;
  grid-row: 2/3;
}


.like:hover {
  color:green;
}

.dislike:hover {
  color:red;
}

.avatar{
  height: 50px;
}